
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$basf-darkblue-palette: (
  50: #004a96,
  100: #004a96,
  200: #004a96,
  300: #004a96,
  400: #004a96,
  500: #004a96,
  600: #004a96,
  700: #004a96,
  800: #004a96,
  900: #004a96,
  A100: #c2e4ff,
  A200: #addcff,
  A400: #1f9eff,
  A700: #00518f,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: white,
    A700: white,
  )
);

$angular-materials-tailwind-primary: mat.define-palette($basf-darkblue-palette, 900);
$angular-materials-tailwind-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-materials-tailwind-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-materials-tailwind-theme: mat.define-light-theme((
  color: (
    primary: $angular-materials-tailwind-primary,
    accent: $angular-materials-tailwind-accent,
    warn: $angular-materials-tailwind-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-materials-tailwind-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme-default {
    --color-primary: #004a96;
    --color-secondary: #e0e9f2;
  }

  .theme-light-green {
    --color-primary: #65ac1e;
    --color-secondary: #e0eed2;
  }

  .theme-orange {
    --color-primary: #f39500;
    --color-secondary: #fdefd9;
  }
}
